<div *ngIf="hero">
    <h2>{{ hero.name | uppercase }}</h2>
    <div><span>id: </span> {{ hero.id }}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" />
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()" >Save</button>
  </div>