<h2>My Heroes</h2>
<label for="new-hero">Hero name: </label>
<input id="new-hero" #heroName />
<button class="add-button" (click)="add(heroName.value); heroName.value = ''">
  Add hero
</button>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">{{ hero.name }}</a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>
